*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 4, 4, 0.750);
}

.title{
    margin: 1rem 0;
}

img{
    object-fit: contain;
    height: 100px;
    position: relative;
    grid-area: img;
    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card_title{
    grid-area: title;
    margin: 0.5rem 0  0 1rem;
    text-transform: capitalize;
}

.pokemon_type{
    display: flex;
    margin-left: 1rem;
    background-color: green;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.75rem;
    width: 4rem;
    padding: 0.25rem 0.5rem;
}

.pokemon_types{
    grid-area: types;
    display: flex;
    flex-direction: column;
    justify-content: around;
}

.card_pokemon{
    display: grid;
    border-radius: 10px;
    background-color: rgb(30, 179, 30);
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title img"
    "types img";
}

.card_pokemon::after{
    content: '';
    display: block;
    position: absolute;
    background: white;
    height: 90px;
    width: 90px;
    right: 5%;
    bottom: 5%;
    border-radius: 50%;
}